/* --- Estructura principal --- */
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr; /* texto - imágenes */
  align-items: center;
  gap: 40px;
  margin: 50px;
}

/* --- Texto a la izquierda --- */
.columna-izquierda h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.columna-izquierda p {
  color: #555;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
button {
  all: unset;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* --- Imágenes a la derecha --- */
.columna-derecha {
  display: flex;
  gap: 20px;
}
.columna-derecha img:first-child {
  border-radius: 12px;
  max-width: 250px;
  align-self: flex-start;
}
/* Segunda imagen más abajo */
.columna-derecha img:last-child {
  border-radius: 12px;
  max-width: 250px;
  align-self: flex-end; /* se va hacia abajo */
}

/* --- Galería inferior --- */
.imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 50px;
}
.imgs h1 {
  color: #aaa;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.imgs img {
  border-radius: 12px;
  width: 100%;
}
